In [1]:
import numpy as np
import pandas as pd
import math
import random
from utils import *
import matplotlib.pyplot as plt
import time
%matplotlib inline

In [3]:
training_set = LabeledSet(2)

for i in range(0, 3):
    training_set.addExample([random.randint(0,2),random.randint(0,10)],1)
for i in range(0, 3):
    training_set.addExample([random.randint(3, 5), random.randint(0, 10)], 2)

In [4]:
df = pd.DataFrame(training_set.x, columns=['x1', 'x2'])
df['label'] = training_set.y
df

   x1  x2  label
0   1   5      1
1   1   7      1
2   2   8      1
3   5   9      2
4   5   7      2
5   4   6      2

In [6]:
def dominant_sets_attribute(a_j, labeled_set):    
    '''
        a_j : index of attribute in labeled_set
        labeled_set : labeled set
        for each object w in labeled_set, return its dominant set generated by a_j  
    '''
    values = labeled_set.x.copy()
    ind = np.transpose(np.array([[i for i in range(labeled_set.size())]]))
    values = np.hstack((values, ind))
    n = labeled_set.size()
    
    dominant_sets = np.zeros((n, n))
    for i in range(0, labeled_set.size()):
        v = labeled_set.getX(i)[a_j]
        dominant = values[values[:,a_j] >= v][:,labeled_set.getInputDimension()]
        dominant_sets[i][dominant] = 1
            
    return dominant_sets

In [7]:
dsa_1 = dominant_sets_attribute(0, training_set)
df_dsa1 = pd.DataFrame(dsa_1)
df_dsa1

     0    1    2    3    4    5
0  1.0  1.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  1.0  1.0
2  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  1.0  1.0  0.0
4  0.0  0.0  0.0  1.0  1.0  0.0
5  0.0  0.0  0.0  1.0  1.0  1.0